GEMINI_API_KEY= AQ.Ab8RN6LwMr-A94L2yST7Nq7ofp1BoQqikiU_h4-OLNd0y9xFew      # uncomment + set for chat LLM
REPLICATE_TOKEN= r8_VPOY4UGaHZhysAX9vamRa7pDkNIny3I0Dc0Tu               # optional, cloud VITON
REPLICATE_MODEL=yisol/idm-vton
